<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Survey Project</title>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/png">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
	
</head>

<body>
	<div id="app"></div>
	<script src="/js/bundle.js"></script>

	<!-- <div>
		<div class="content-filler"></div>
		<div class="content-filler" style="background-color: lavender"></div>
		<div class="content-filler" style="background-color: lightcoral"></div>
		<div class="content-filler" style="background-color: pink"></div>
	</div>	 -->
</body>

</html>
