.about-us {
    img {
        width: 100%;
    }
    .about-us__article {
        display: flex;
        justify-content: center;
        padding: 4%;
        .about-us__heading {
            color: $colorGrey;
            font-family: $headingFont;
            font-weight: 300;
            font-size: 45px;
            padding: 5px 0 5px 15px;
            margin-bottom: 30px;
        }
    }
    .about-us__article:first-of-type {
        padding-top: 0;
    }
    .about-us__article_img-background {
        padding: 0;
        width: 100%;
    }
}
