.table {
    width: 100%;
    margin: 30px 0;
    border: none;
    color: $colorGrey;
    border-collapse: collapse;
    //box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.2);

    button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 20px;
        color: $colorGrey;
        margin: 0 5px;
    }

    button:hover {
        color: lighten($colorGrey, 20%);
    }

    .table__header {
        th {
            height: 80px;
            text-align: center;
            background-color: $mainColor;
        }

        th:first-child {
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .triangle-down, .triangle-up {
                margin-left: 5px;
            }

            .search-bar-container {
                flex-grow: 2;
                position: relative;
                margin-left: 10%;

                .users__search {
                    font-size: 18px;
                    background-color: transparent;
                    border-radius: 0px;
                }  
                .fa-search {
                    position: absolute;
                    left: 22px;
                    top: 25%;
                    font-size: 25px;
                    color: darken($colorLightGrey, 10%);
                }
            }      
        }
    }

    .user-operations {
        *:hover {
            color: lighten($colorGrey, 20%);
        }
    }

    tr {
        height: 50px;
        text-align: center;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    tr:nth-child(even) {
        background-color: lighten($colorRose, 10%);
    }

    th:first-child, td:first-child {
        padding: 0 80px;
    }

    td:first-child {
        width: 30%;
        text-align: left;
    }

    .table__footer {
        height: 80px;
        text-align: left;
    }
}

.table_blue {
    .table__header {
        th {
            background-color: lighten($colorBlue, 34%);
        }
    }
    tr:nth-child(even) {
        background-color: lighten($colorBlue, 34%);
    }
}
