$mainColor: #F7F7F7;
$colorRed: #EB1C23;
$colorGrey: #535558;
$colorLightGrey: #BDBDBD;
$colorBlue: #7485c5;
$colorRose: #F4CBC6;

$headingFont: 'Oswald', sans-serif;
$mainFont: 'Open Sans', sans-serif;