@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');

$mainColor: #F7F7F7;
$colorRed: #EB1C23;
$colorGrey: #535558;
$colorLightGrey: #BDBDBD;
$colorBlue: #7485c5;
$colorRose: #F4CBC6;

$headingFont: 'Oswald', sans-serif;
$mainFont: 'Open Sans', sans-serif;

@import 'reset';
@import 'auth';

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: auto;
    background-color: $mainColor;
    font-family: $mainFont;
    font-size: 18px;
    position: relative;
}

.header {
    background-color: white;
    font-size: 22px;
    font-family: $headingFont;
    //font-weight: lighter;
    letter-spacing: 0.4px;
    //text-transform: uppercase;
    box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.1);
}

.head {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .head__logo {
        margin: 40px 35px 15px 35px;
        width: 100%;
        flex-grow: 2;
    }

    .head__auth {
        flex-grow: 1;
        margin: 0 35px;
        list-style-type: none;
        
        .head__auth_signin {
            text-decoration: none;
            color: $colorGrey;
            border: 1px solid $colorGrey;
            border-radius: 10px;
            padding: 4px 10px;
        }
    }
}

.menu-container {
    //display: none;/////////////////////////////////////////////////
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-bottom: 3px solid $colorRed;
}

.menu {
    height: 50px;
    background-color: $colorRed;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 5%;
    position: relative;
    top: 50%;

    .menu__item {
        text-decoration: none;
        color: white;
        padding: 9px 60px;
        //margin-left: 3px;
        flex-grow: 1;
        line-height: 2;
    }
}

.menu_left {
    justify-content: flex-start;
    flex-grow: 3;
    .menu__item:hover, .menu__item:active {
        background-color: desaturate(darken($colorRed, 10%), 10%);
    }
}

.menu_right {
    justify-content: flex-end;
    flex-grow: 1;

    .menu__item {
        color: white;
        padding: 4px 10px;
        background-color: $colorRed;
        border-radius: 10px;
        font-weight: 400;
    }
}

.content {
   display: flex;
   justify-content: center;
   width: 100%;
}

.content_centered {
    margin: 100px 15px 0 15px;
    background-color: white;
    width: 1100px;
    box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.29);
}

.welcome-section {
    img {
        width: 100%;
    }
    h1 {
        font-family: $mainFont;
        font-size: 40px;
        color: white;
        position: relative;
        bottom: 500px;
    }
}

.footer {
    height: 50px;
    width: 100%;
    background-color: $colorGrey;
    color: white;
    font-size: 14px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.2);
}

.content-filler {
    height: 300px;
    background-color: $mainColor;
    padding-bottom: 50px;
}
