@keyframes enlarge {
	from {width: 0; height: 0; opacity: 0;}
	to {width: 128px; height: 128px; opacity: 1;}
}

@keyframes slide-down {
	from {top: -100px; opacity: 0;}
	to {top: 0; opacity: 1;}
}

.survey-editing {
	margin: 70px 0 0 0;
	padding-bottom: 70px;
	display: flex;
	justify-content: space-between;
	.survey-setup {
		height: 74vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
	}
	.survey-setup_left {
		justify-content: flex-start;
		margin-right: 50px;
		left: 0;
	}
	.survey-setup_right {
		justify-content: space-between;
		margin-left: 50px;
		right: 0;
		.survey-setup__options,
		.survey-setup__steps {
			display: flex;
			flex-direction: column;
		}
		.survey-setup__open-fullscreen {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		.survey-setup__cog {
			display: none;
			cursor: pointer;
			user-select: none;
		}
	}
	.survey-body {
		width: 100%;
		flex-grow: 1;
		text-align: center;
		color: $colorGrey;
		padding-bottom: 70px;
		.survey-body__add-button {
			background-color: transparent;
			border: none;
			color: $colorLightGrey;
			font-size: 30px;
			margin: 5px;
		}
		.survey-body__add-button:hover {
			cursor: pointer;
			color: $colorGrey;
		}
		.survey-body__new-question {
			height: 130px;
			padding: 50px;
			margin: 0 150px;
			border: 1px dashed $colorLightGrey;
			border-radius: 25px;
			margin-bottom: 50px;
			animation: slide-down 0.3s;
		}
		.survey-body__new-question_add-button {
			.survey-body__text {
				font-size: 25px;
				margin-bottom: 10px;
			}
		}
		.survey-body__new-question_list {
			display: flex;
			justify-content: center;
			.survey-body__question-type {
				width: 128px;
				height: 128px;
				font-family: $mainFont;
				color: $colorGrey;
				background-color: transparent;
				border: none;
				line-height: 1.2;
				padding: 5px;
				margin: 0 2.5px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				animation: enlarge 0.4s;
				.fa {
					font-size: 64px;
				}
				p {
					margin-top: 20px;
					font-weight: 600;
					font-size: 16px;
				}
			}
			.survey-body__question-type:hover {
				cursor: pointer;
				background-color: transparentize($colorLightGrey, 0.9);
				border-radius: 5%;
			}
		}
		.survey-body__question {
			position: relative;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 50px;
			margin: 0 150px;
			border-bottom: 1px dashed $colorLightGrey;
			animation: slide-down 0.3s;
			.survey-body__edit-question {
				button {
					color: $colorLightGrey;
					font-size: 20px;
					background-color: transparent;
					border: none;
					margin: 0 2.5px;
				}
				button:hover {
					cursor: pointer;
					color: $colorGrey;
				}
			}
			.survey-body__question-view {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				h4 {
					font-size: 20px;
					margin-bottom: 20px;
				}
			}
			.survey-body__add-button_above-question {
				background-color: transparent;
				position: absolute;
				width: 99%;
				top: -32px;
				left: 0;
				right: 0;
				border: 10px solid transparent;
				border-radius: 25px;
				.fa {
					background-color: $mainColor;
				}
			}
		}
		.survey-body__question:hover {
			cursor: move;
		}
		.survey-body__question_list {
			display: none;
			justify-content: center;
			width: 100%;
			flex-grow: 1;
			margin-bottom: 50px;
			position: relative;
			.survey-body__question-type {
				width: 128px;
				height: 128px;
				font-family: $mainFont;
				color: $colorGrey;
				background-color: transparent;
				border: none;
				line-height: 1.2;
				padding: 5px;
				margin: 0 2.5px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				//animation: enlarge 0.4s;
				.fa {
					font-size: 64px;
				}
				p {
					margin-top: 20px;
					font-weight: 600;
					font-size: 16px;
				}
			}
			.survey-body__question-type:hover {
				cursor: pointer;
				background-color: transparentize($colorLightGrey, 0.9);
				border-radius: 5%;
			}
		}
		.survey-body__question_list-visible {
			display: flex;
			animation: slide-down 0.3s;
			transition: 0.4s;
		}

		.survey-body__question_one-answer,
		.survey-body__question_several-answers {
			.survey-body__question-view {
				p {
					margin-bottom: 15px;
				}
			}
		}
		.survey-body__question_text-answer {
			.survey-body__question-view {
				textarea {
					width: 80%;
					height: 100px;
					padding: 10px;
					font-family: $mainFont;
					font-size: 18px;
					margin-bottom: 15px;
				}
			}
		}
		.survey-body__question_file {
			.survey-body__question-view {
				button {
					padding: 10px 30px;
					border: 3px solid white;
					border-radius: 5px;
					background-color: $colorRed;
					color: white;
					font-size: 18px;
					font-family: $mainFont;
					margin-bottom: 15px;
					display: inline-block;
				}
			}
		}
		.survey-body__question_rating {
			.rating-stars {
				font-size: 40px;
			}
		}
		.survey-body__question_first {
			border-top: 1px dashed $colorLightGrey;
		}
	}
	.survey-start-editor,
	.survey-finish-editor {
		display: flex;
		flex-direction: column;
		align-items: center;
		.survey-body__add-logo {
			color: $colorGrey;
			padding: 30px 100px;
			border: 1px dashed $colorGrey;
			border-radius: 25px;
			background-color: transparent;
			margin-bottom: 20px;
			.fa {
				font-size: 100px;
			}
			p {
				font-size: 20px;
				font-weight: 600;
				font-family: $mainFont;
				margin-top: 20px;
			}
		}
		.survey-body__survey-name,
		.survey-body__survey-description {
			background-color: transparent;
			color: $colorGrey; //outline: 1px dashed $colorLightGrey;
			border: none;
			margin-bottom: 20px;
		}
		.survey-body__survey-name {
			font-family: $headingFont;
			font-size: 50px;
			font-weight: 500;
			text-align: center;
			padding: 15px;
		}
		.survey-body__survey-description {
			width: 50%;
			height: 200px;
			font-family: $mainFont;
			font-size: 18px;
			overflow: auto;
			padding: 10px;
		}
		.survey-body__survey-category {
			outline: none;
			background-color: transparent;
			border: 1px dashed $colorGrey;
			border-radius: 5px;
			font-family: $mainFont;
			font-size: 18px;
			color: $colorGrey;
			padding: 10px 30px;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.survey-finish-editor {
		padding: 100px 0;
	}
	.survey-settings {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $colorGrey;
		font-size: 18px;
		h2 {
			text-align: center;
			width: 100%;
			font-family: $headingFont;
			font-size: 35px;
			font-weight: 500;
			margin-bottom: 50px;
		}
		.survey-settings__settings-list {
			p {
				margin-bottom: 20px;
				label {
					margin-left: 10px;
				}
			}
		}
	}
	.survey-answers-collection {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $colorGrey;
		font-size: 18px;
		h2 {
			text-align: center;
			width: 100%;
			font-family: $headingFont;
			font-size: 35px;
			font-weight: 500;
			margin-bottom: 50px;
		}
		.survey-answers-collection__option {
			width: 50%;
			text-align: center;
			padding: 40px;
			margin-bottom: 40px;
			border-radius: 35px;
			background-color: white;
			box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.1);
			h3 {
				margin-bottom: 20px;
			}
			.survey-answers-collection__button {
				color: white;
				font-family: $mainFont;
				font-size: 15px;
				font-weight: 600;
				background-color: $colorRed;
				border: none;
				border-radius: 5px;
				padding: 15px 30px;
				margin-top: 25px;
			}
		}
		.survey-answers-collection__link {
			color: $colorBlue;
			font-size: 25px;
			text-decoration: underline;
			margin: 15px;
		}
	}
	.survey-results {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $colorGrey;
		font-size: 18px;
		margin: 0 150px;
		h2 {
			width: 100%;
			text-align: center;
			font-family: $headingFont;
			font-size: 35px;
			font-weight: 500;
		}
		.survey-results__info {
			width: 100%;
			align-self: flex-start;
			font-size: 15px;
			font-weight: 600;
			color: lighten($colorGrey, 20%);
			margin: 30px 0;
		}
		.survey-results__nav-buttons {
			width: 100%;
			button {
				width: 49%;
				font-family: $mainFont;
				font-size: 18px;
				font-weight: 600;
				color: white;
				background-color: $colorLightGrey;
				padding: 15px;
				border: none;
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
		.survey-results__nav-buttons_current {
			button {
				background-color: $colorBlue;
			}
		}
		.survey-results__view-option {
			align-self: flex-start;
			margin: 20px 0;
			width: 100%;
			select {
				width: 49%;
				font-family: $mainFont;
				font-size: 15px;
				font-weight: 600;
				color: $colorGrey;
				padding: 12px 5px;
			}
		}
		.pagination {
			width: 100%;
			margin: 30px 0 50px 0;
		}
		.survey-results__question-result {
			width: 100%;
			background-color: white;
			margin-bottom: 50px;
			box-shadow: 0px 3px 25.52px 3.48px rgba(112, 112, 112, 0.1);
			border-radius: 5px;
			box-sizing: border-box;
			padding: 50px;
			.survey-results__question-title {
				font-size: 22px;
				margin-bottom: 20px;
			}
			.survey-results__question-info {
				font-size: 18px;
				font-weight: 600;
				line-height: 1.1;
				color: darken($colorLightGrey, 10%);
				margin-bottom: 20px;
			}
		}
		.survey-results__answer-percentage p {
			margin-top: 10px;
		}
		.survey-results__graph {
			padding: 30px 0;
			border: 2px solid $mainColor;
		}
		.table {
			width: 100%;
			border: 2px solid $colorLightGrey;
			tbody {
				display: block;
				width: 100%;
				height: 300px;
				overflow: hidden;
				overflow-y: auto;
			}
			thead {
				width: 100%;
				tr {
					background-color: $mainColor;
				}
			}
			tr {
				display: table;
				width: 100%;
				table-layout: fixed;
			}
			td,
			th {
				width: 47.5%;
				&:first-child {
					width: 5%;
				}
			}
		}
	}
}

.socials {
	margin-top: 20px;
	button {
		width: 50px;
		height: 50px;
		color: white;
		background-color: $colorRed;
		font-size: 20px;
		border: none;
		border-radius: 25px;
		margin: 0 5px;
	}
}

.aside-button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	text-align: center;
	color: $colorGrey;
	border: none;
	border-radius: 5px;
	margin: 0 10px 20px 10px;
}

.aside-button:hover {
	cursor: pointer;
	color: black;
}

.question-modal {
	background-color: white;
	display: block;
	flex-direction: column;
	align-items: center;
	color: $colorGrey;
	border-radius: 10px;
	position: absolute;
	top: 20%;
	left: 12%;
	right: 12%;
	bottom: 12%;
	margin: -10px;
	outline: none;
	overflow-y: auto;

	.question-modal__option-container {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.question-modal__submit-container {
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	input {
		font-size: 15px;
		font-family: $mainFont;
	}

	button {
		background-color: transparent;
		border: none;
		font-size: 20px;
		color: $colorLightGrey;
		&:hover {
			cursor: pointer;
			color: $colorRed;
		}
	}

	.question-modal__title {
		height: 40px;
		width: 52vmax;
		padding: 10px;
		font-size: 18px;
		margin: 0 auto;
		display: block;
		margin-bottom: 30px;
	}

	.question-modal__option {
		margin: 10px;
		height: 20px;
		width: 50vmax;
		padding: 5px;
		
	}

	.question-modal__button-add,
	.question-modal__submit,
	.question-modal__close {
		margin-top: 20px;
		border: none;
		opacity: 0.9;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}

	.question-modal__button-add {
		width: 100%;
		height: 50px;
		background-color: transparent;
		color: $colorBlue;
		font-weight: 700;
		font-size: 40px;
		text-align: center;
		//border-radius: 20px;
		margin-bottom: 20px;
		//padding: 10px 0;
	}

	.question-modal__submit {
		width: 20vmax;
		height: 50px;
		background-color: $colorRed;
		color: white;
		border-radius: 5px;
		margin-right: 20px;
	}

	.question-modal__close {
		width: 20vmax;
		height: 50px;
		background-color: $colorGrey;
		color: white;
		border-radius: 5px;
	}
}

.overlay {
	background-color: transparentize($colorGrey, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
}

@media all and (max-width: 1010px) and (orientation: portrait) {
	.survey-editing {
		.survey-settings {
			font-size: 36px;
			h2 {
				font-size: 70px;
			}
			.survey-settings__settings-list {
				input {
					width: 30px;
					height: 30px;
				}
			}
		}
		.survey-answers-collection {
			font-size: 36px;
			h2 {
				font-size: 5vmin;
			}
			.survey-answers-collection__option {
				width: 60vw;
				margin-bottom: 4vh;
				border-radius: 0px;
				background-color: transparent;
				border-bottom: 3px dashed $colorLightGrey;
				box-shadow: none;
				h3 {
					margin: 2vh 0;
				}
				.survey-answers-collection__button {
					font-size: 2vmax;
					padding: 15px 30px;
					margin-top: 2vmax;
				}
			}
			.survey-answers-collection__link {
				font-size: 2vh;
				margin: 2vh 15px;
			}
		}
		.survey-results {
			font-size: 1.8vmax;
			h2 {
				font-size: 3.5vmax;
			}
			.survey-results__info {
				font-size: 1.8vmax;
				font-weight: 400;
			}
			.survey-results__nav-buttons {
				button {
					font-size: 2vmax;
					height: 7vmax;
				}
			}
			.survey-results__view-option {
				select {
					width: 100%;
					height: 5vmax;
					font-size: 2vmax;
				}
			}
			.survey-results__question-result {
				.survey-results__question-title {
					font-size: 2.1vmax;
				}
				.survey-results__question-info {
					font-size: 2vmax;
					font-weight: 400;
				}
			}
			.bar-chart .bar-chart__inner .bar-chart__text {
				font-size: 1.3vmax;
				top: 0;
			}
			.pagination {
				.pagination__button {
					width: 6vmax;
					margin: 0.5vh;
				}
			}
			.table {
				thead {
					display: table-header-group;
				}
				th,
				td {
					display: table-cell;
					text-align: center;
					line-height: 2;
					&:before {
						content: "";
						display: none;
					}
				}
			}
		}
	}
}

.survey-setup__fullscreen {
	display: none;
}

@media all and (max-width: 1010px) {
	.survey-editing {
		font-size: 2vmax;
		.survey-body {
			.survey-body__new-question,
			.survey-body__question {
				margin-left: 3.5%;
				margin-top: 5%;
				margin-bottom: 5%;
				border-width: 7px;
				padding: 5vmax;
				height: 40vmax;
			}
			.survey-body__new-question {
				border-radius: 7vmax;
			}
			.survey-body__new-question_add-button {
				.survey-body__text {
					font-size: 4vmax;
				}
			}
			.survey-body__new-question_list {
				flex-wrap: wrap;
				.survey-body__question-type {
					font-size: 2vmax;
					margin: 3vmax 5vmax;
				}
			}
			.survey-body__question {
				margin-top: 10vmax;
				.survey-body__question-view {
					h4 {
						font-size: 2.6vmax;
					}
					p {
						font-size: 2.4vmax;
						input {
							width: 1.5vmax;
							height: 1.5vmax;
						}
					}
					textarea {
						margin: 2vmax 0;
						padding: 1vmax;
						font-size: 2vmax;
						height: 20vmax;
						width: 100%;
						border: none;
					}
				}
				.survey-body__add-button_above-question {
					top: -15vmax;
				}
				.survey-body__edit-question {
					position: absolute;
					right: 0;
					bottom: 0;
					button {
						font-size: 5vmax;
						margin-bottom: 3vmax;
						margin-left: 3vmax;
					}
				}
			}
			.survey-body__question_first {
				.survey-body__add-button_above-question {
					top: -5vmax;
				}
			}
			.survey-body__question_file {
				.survey-body__question-view button {
					font-size: 2.5vmax;
				}
				label {
					font-size: 2.5vmax;
				}
			}
			.survey-body__question_rating {
				.rating-stars {
					font-size: 5vmax;
				}
			}
			.survey-body__add-button {
				font-size: 7vmax;
			}
			.range-slider__range {
				width: 100%;
				height: 1.5vmax;
			}
			.range-slider__value {
				width: 5vmax;
				height: 2vmax;
				font-size: 2.3vmax;
				padding-top: 7px;
				padding-bottom: 0;
			}
		}
		.survey-start-editor,
		.survey-finish-editor {
			margin-top: 2vmax;
			font-size: 2vmax;
			.survey-body__add-logo {
				border-width: 7px;
				padding: 5vmax;
				border-radius: 5vmax;
				p {
					font-size: 2.5vmax;
				}
			}
			.survey-body__survey-name {
				font-size: 4vmax;
			}
			.survey-body__survey-description {
				font-size: 2.2vmax;
				width: 70%;
				height: 27vmax;
			}
			.survey-body__survey-category {
				font-size: 2vmax;
			}
		}
		.survey-setup_left {
			display: none;
		}
		.survey-setup_right {
			margin: 0;
			justify-content: center;
			.survey-setup__options,
			.survey-setup__steps {
				display: none;
			}
			.survey-setup__cog {
				display: block;
				margin-right: 30%;
				font-size: 7vmax;
				color: $colorLightGrey;
			}
		}
		.survey-setup__open-fullscreen:checked~.survey-setup__fullscreen {
			display: flex;
		}
	}
	.survey-setup__fullscreen {
		position: absolute;
		width: 100vw;
		height: 110vh;
		right: 0;
		background-color: transparentize($colorGrey, 0.1);
		color: white;
		font-size: 7vh;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 1000;
		button {
			width: 10vmax;
			height: 10vmax;
			margin: 5vh 0;
			font-size: 5vmax;
			border-radius: 1vmax;
			border: 5px dashed white;
			color: white;
			background-color: transparent;
		}
		label {
			align-self: flex-end;
		}
		.fa-times {
			margin: 0 5vh 5vh 5vh;
		}
	}
	@media all and (orientation: portrait) {
		.survey-setup__fullscreen {
			top: -20vh;
		}
	}
	@media all and (orientation: landscape) {
		.survey-setup__fullscreen {
			top: -36vh;
		}
	}
	.socials {
		margin: 2vmax 0;
		button {
			width: 5vmax;
			height: 5vmax;
			font-size: 2.5vmax;
			border-radius: 2.5vmax;
		}
	}
	.rating-stars {
		font-size: 5vmax;
	}
}
